<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-section">
      <img src="assets/icon/favicon.png" alt="App Logo">
      <h1>Photo Navi</h1>
      <p>Your ultimate navigation companion</p>
    </div>

    <form (ngSubmit)="login()">
      <ion-list>
        <ion-item>
          <ion-input label="Email" type="email" [(ngModel)]="email" name="email" labelPlacement="floating" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" type="password" [(ngModel)]="password" name="password" labelPlacement="floating" required></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" type="submit" class="ion-margin-top">Login</ion-button>
      <ion-button expand="block" fill="clear" routerLink="/register">Don't have an account? Register</ion-button>
    </form>
  </div>
</ion-content>