<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map-container">
    <div #mapElement id="map"></div>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="centerMap()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    <div class="location-info" *ngIf="currentLocation">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Current Location</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Latitude: {{currentLocation.latitude | number:'1.4-4'}}</p>
          <p>Longitude: {{currentLocation.longitude | number:'1.4-4'}}</p>
          <p>Accuracy: {{currentLocation.accuracy | number:'1.2-2'}} meters</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
